<!--
  Encabezado generico para todos los modulos, solo presenta el nombre del modulo, icono de salida, quienes somos e icono de menu principal.
  El proceso padre le pasa al encabezado el titulo de la barra en la variable 'title'
-->
<app-header [title]="title" id="mainhead"></app-header>

<div class="container after-header" >




<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 align-items-center">
        <img  src="../../../../assets/img/tienda.png" class="card-img-top" alt="tienda">
        <div class="card-body">
          <h5 class="card-title">Grupos de Compras</h5>
          <p class="card-text">Agrupa proveedores en donde se realizan las compras.</p>
        </div>
        <div class="card-footer">
          <a href="compras/grupos">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img   src="../../../../assets/img/compras.png" class="card-img-top " alt="compras">
        <div class="card-body">
          <h5 class="card-title">Proveedores</h5>
          <p class="card-text">Registro de los proveedores de la tienda.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img src="../../../../assets/img/graficos.png" class="card-img-top" alt="Reportes">
        <div class="card-body">
          <h5 class="card-title">Insumos y Productos</h5>
          <p class="card-text">Registro de los insumos y producto de reventa que compramos.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
  </div>
<br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 align-items-center">
        <img  src="../../../../assets/img/administracion.png" class="card-img-top" alt="tienda">
        <div class="card-body">
          <h5 class="card-title">Descuentos</h5>
          <p class="card-text">Registro de descuentos que realizan proveedores.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img   src="../../../../assets/img/facturacion.png" class="card-img-top " alt="compras">
        <div class="card-body">
          <h5 class="card-title">Registro de Compras</h5>
          <p class="card-text">Alta de compras realizadas en el d&iacute; a d&iacute;.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img src="../../../../assets/img/logout.png" class="card-img-top" alt="Reportes">
        <div class="card-body">
          <h5 class="card-title">Logout</h5>
          <p class="card-text">Salida del sistema, datos no guardados se eliminar&aacute;n.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100 align-items-center">
        <img  src="../../../../assets/img/administracion.png" class="card-img-top" alt="tienda">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img   src="../../../../assets/img/facturacion.png" class="card-img-top " alt="compras">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 align-items-center">
        <img src="../../../../assets/img/logout.png" class="card-img-top" alt="Reportes">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <a href="#">
            <button type="button" class="btn btn-lg color-primary-3 ">Ingresar</button>
        </a>
        </div>
      </div>
    </div>
  </div>

</div>