<form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">

    <p>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" formControlName="nombre">
    </p>

    <p>
        <label for="apPaterno">Apellido Paterno</label>
        <input type="text" id="apPaterno" name="apPaterno" formControlName="apPaterno">
    </p>

    <p>
        <label for="apMaterno">Apellido Materno</label>
        <input type="text" id="apMaterno" name="apMaterno" formControlName="apMaterno">
    </p>

    <div formGroupName="autenticacion">
        <p>
            <label for="username">username</label>
            <input type="text" id="username" name="username" formControlName="username">
        </p>

        <p>
            <label for="password">password</label>
            <input type="password" id="password" name="password" formControlName="password">
        </p>
    </div>

    <p>
        <label for="foto">Foto</label>
        <input type="file" id="imagen" name="imagen" formControlName="imagen">
    </p>

    <p>
        <label for="activo">El usuario esta activo?</label>
        <input type="checkbox" id="activo" name="activo" formControlName="activo">
    </p>

    <p>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email">
    </p>

    <p>
        <label for="permisos">Permisos</label>
        <select id="roles" name="roles" formControlName="roles">
            <option [ngValue]="r.id" *ngFor="let r of roleList">
                {{r.nombre}}
            </option>

        </select>
    </p>


</form>